/* Custom Animations */

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

@keyframes coin-flip {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.animate-coin-flip {
  animation: coin-flip 3s infinite ease-in-out;
}

@keyframes cycle-down-enter {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-cycle-down {
  animation: cycle-down-enter 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
